
div.pageComponents {
    margin-top: 100px;
    margin-left: 450px;
    width: 100%;
    /* border: 5px solid black; */
}

div.page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow-x: hidden;
    
      
}

