

.submitBtn {
  margin-top: 2rem;
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: #6658d3;
    border-radius: 6px;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

.submitBtn:hover {
  background-color: #2b11f1; /* Green */
  color: #FFF;
  cursor: pointer;
}

.editBtn {
  border: none;
  background: none;
  Cursor: pointer;
}

.editBtn img{
  width: 25px;
  height: 25px;
}

.addTask {
  margin-top: 20px;
  margin-bottom: 100px;
  background: none;
  Cursor: pointer;
  border: none;
  align-items: center;
  font-size: 20px;
  color: gray
}

.addTask img {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.addTask:hover,
.addTask:active {
  background-color: #FFF;
  color: black;
}

.addPost {
  align-items: flex-start;
  background: none;
  Cursor: pointer;
  border: none;
  font-size: 20px;
  color: gray
}

.addPost img {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.addPost:hover,
.addPost:active {
  background-color: #FFF;
  color: black;
}

.addModule {
  margin-left: 120px;
}

