
table {
  margin-top: 5%;
  border-collapse: collapse;
}

table tbody tr {
  border-bottom: solid #ccc 1px;
}

table tbody tr:active,
table tbody tr:hover {
  border-bottom: solid #ccc 1px;
  background-color: rgb(242, 239, 239);
}

table tbody tr td {
  font-size: 20px;
  padding-top: 30px;
  padding-right: 100px;
  cursor: pointer;
  
}

table tbody tr td:hover,
table tbody tr td:active {
  font-size: 20px;
  padding-top: 30px;
  padding-right: 100px;
  cursor: pointer;
  text-decoration: underline;
  
}

thead {
  font-size: 20px;
  text-align: left;
  
}

.Button {
  padding-top: 30px;
}


